:root {
  --zinc-50: #fef2f2;
  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-800: #27272a;
  --zinc-950: #09090b;

  --red-600: #dc2626;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

main#app {
  max-width: 1024px;
  margin-inline: auto;
}

fieldset {
  position: relative;
  padding: 4rem 0.75rem 0.75rem 0.75rem;
  border: 0;
}

legend {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem;
  font-size: 1.25rem;
  font-weight: 500;
  background-color: var(--zinc-100);
  border-bottom: 1px solid var(--zinc-300);
  color: var(--zinc-950);
}

.fields-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.fields-wrapper > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

label {
  display: inline-block;
  width: 4rem;
  color: var(--zinc-950);
}

input:not([type="submit"]) {
  color: var(--zinc-950);
  width: 100%;
  margin-left: auto;
  padding: 0.5rem;
}

input[type="submit"] {
  color: var(--zinc-950);
  padding: 0.5rem 2rem;
  font-size: 1rem;
  width: max-content;
}

form, .table-wrapper {
  margin-top: 4rem;
  overflow: hidden;
  border-radius: 0.5rem;
  border: 1px solid var(--zinc-200);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

table {
  min-width: 100%;
  border-collapse: collapse;
}



tr {
  display: grid;
  grid-template-columns: 5fr 5fr 2fr 2fr;
}

tr + tr {
  border-top: 1px solid var(--zinc-200);
}

tr > [data-cd-year] {
  text-align: right;
}

[data-cd-delete="body"] {
  cursor: pointer;
  color: var(--red-600);
  font-weight: 500;
  transition-property: color, background-color;
  transition-duration: 0.1s;
}

[data-cd-delete="body"]:hover {
  color: var(--zinc-50);
  background-color: var(--red-600);
}

thead {
  text-align: left;
  background-color: var(--zinc-100);
  border-bottom: 1px solid var(--zinc-300);
}

th {
  padding: 0.75rem 0.875rem;
  font-weight: 500;
  color: var(--zinc-950);
}

td {
  padding: 0.75rem 1rem;
  font-weight: 400;
  color: var(--zinc-800);
}